* {
  color: #111;
  padding: 18px 35px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 120px 8%;
}

.title {
  text-align: center;
  margin-bottom: 60px;
}

.title h2 {
  font-size: 3rem;
}

.categories,
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 35px;
}

.card,
.feature-box {
  background: white;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card-content,
.feature-box {
  padding: 35px;
}

.showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.showcase img {
  width: 100%;
  border-radius: 25px;
}

.showcase-text h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

footer {
  background: ;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

@media(max-width: 900px){
  .showcase {
    grid-template-columns: 1fr;
  }

  .hero h1 {
    font-size: 3rem;
  }

  nav ul {
    gap: 20px;
  }
}